// writing.kdl
keybind "ctrl+alt+2"
description "Writing: Notes fullscreen"
hide_others true

window {
    app "Notes"
    screen 0
    x "0%"
    y "0%"
    w "100%"
    h "100%"
    reuse true
    focus true
}
